{% extends "basis.html" %}
{% load i18n %}

{% block titel %}
    {% trans 'Edit authorization' %}
{% endblock titel %}

{% block content %}
    <div class="col-xs-12"><div class="ia">
        <h2>{% blocktrans %}Edit authorization '{{ object }}'{% endblocktrans %}</h2>

        <div class="content">
            <form action="" method="POST" class="big">
                {% csrf_token %}
                {{ form }}

                <div class="buttons">
                    <input type="submit" value="{% trans 'Edit' %}">
                </div>
            </form>
        </div>
    </div></div>
{% endblock content %}
