{% load i18n %}

{% if obj.enrollment_open and not obj.oauth_application %}
    {% if not obj.enrollment_full %}
        <p>
            {% if obj.places_available == None %}
                {% blocktrans %}
                    For this activity there is no maximum number of participants
                {% endblocktrans %}
                {% if  obj.price != 0.00 %}
                    {% blocktrans %}
                        If you want to be at this activity, you need to enroll.
                    {% endblocktrans %}
                {% endif %}
            {% else %}
                {% if request.person %}
                    {% blocktrans count places=obj.places_available %}
                       For this activity, there is one place left.
                    {% plural %}
                       For this activity there are {{ places }} places left.
                    {% endblocktrans %}
                {% else %}
                    {% if obj.places_available == 1 %}
                        {% blocktrans  %}
                            For this activity, there is one place left.
                        {% endblocktrans %}
                    {% elif obj.places_available > 1 and obj.places_available <= 10 %}
                        {% blocktrans with places=obj.places_available %}
                            For this activity, there are {{ places }} places left.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans %}
                            For this activity, there are still places left.
                        {% endblocktrans %}
                    {% endif %}
                {%  endif %}
                {% blocktrans %}
                    If you want to be at this activity, you need to enroll.
                {% endblocktrans %}
            {% endif %}
                {% blocktrans with enddate=obj.enrollment_end|date:"d F Y" endtime=obj.enrollment_end|date:"H:i" %}
                     You can enroll for this activity until {{ enddate }} at {{ endtime }}.
                {% endblocktrans %}

        </p>
    {% elif not request.person %}
        <p>
            {% blocktrans %}
                The maximum number of participants for this activity has been reached.
            {% endblocktrans %}
        </p>
    {% endif %}

    {% if request.person %}
        {% if request.person in obj.participants.all %}

            {% if activity.enrollmentoption_set.all %}
                {# there are enrollment options, display what they have registered for. #}
                <p class="icon pos">
                    {% if request.person in obj.waiting_participants.all %}
                        {% trans 'You are on the waiting list for this event with the following options:' %}
                    {% else %}
                        {% trans 'You have enrolled for this event with the following options:' %}
                    {% endif %}
                </p>

                <ul>
                    {% for answer in participation.enrollmentoptionanswer_set.all %}
                        {% if answer.is_empty %}
                            {# Hasn't enrolled for these #}
                            <li class="icon neg">
                                {% blocktrans with title=answer.enrollmentoption.title %}
                                    {{ title }}: You have not enrolled for this option
                                {% endblocktrans %}
                            </li>
                        {% else %}
                            {# Has enrolled for these #}
                            <li class="icon pos">{{ answer.enrollmentoption.title }}: {{ answer.display_answer }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>>

            {% else %}
                {# there are no enrollment options #}
                <p class="icon pos">
                    {% if request.person in obj.confirmed_participants.all %}
                        {% trans 'You have enrolled yourself for this event.' %}
                    {% else %}
                        {% trans 'You are enrolled on the waiting list for this event.' %}
                    {% endif %}
                </p>
            {% endif %}

            {% if request.person in obj.waiting_participants.all %}
                <p class="icon icon-information">{% trans 'Your spot on the waiting list is' %}: {{ number_on_waiting_list }}</p>
            {% endif %}

            {% if obj.can_unenroll or request.person in obj.waiting_participants %}
                <form method="post" action="{% url 'activities:unenrollment_self' obj.id %}">
                    {% csrf_token %}
                    <p>
                        <input type="submit" value="{% if request.person in obj.waiting_participants %}{% trans 'Deregister from waiting list'  %}{% else %}{% trans 'Deregister' %}{% endif %}" />
                        {% if has_enrollment_options %}
                        <a class="looks-like-a-button" href="{% url 'activities:editenrollment_self' obj.id %}">{% trans 'Edit enrollment' %}</a>
                        {% endif %}
                    </p>
                </form>
                <p>
                    {% blocktrans with date=obj.enrollment_end|date:"d F Y" time=obj.enrollment_end|date:"H:i" %}
                        You can reverse your enrollment till {{ date }} at {{ time }}.
                    {% endblocktrans %}
                </p>
            {% else %}
                <p>
                    {% trans 'For this activity, you can only unenroll yourself at the board.' %}
                </p>
            {% endif %}
        {% else %}
            <p class="icon warning">
                {% blocktrans %}
                    You are not enrolled in this activity yet.
                {% endblocktrans %}
            </p>


            {%  if not obj.can_unenroll and obj.enrollment_open %}
                <p class="icon icon-error">
                    {% blocktrans %}
                        It's not possible to unenroll yourself for this activity.
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if obj.enrollment_full and obj.enrollment_open %}
                <p class="icon warning">
                    {% blocktrans %}
                        You can no longer enroll, all placed have been filled.<br />
                        <b>Do you want to be on the waiting list? That is still possible!</b><br />
                        When on the waiting list, you will be automatically enrolled as soon as someone unenrolls.
                    {% endblocktrans %}
                </p>
	        {% endif %}
            {% if obj.enrollment_open %}
                    <form method="post" action="{% url 'activities:enrollment' obj.id %}">
                        {% csrf_token %}
                        <p>
                            <input type="submit" value="{% if obj.enrollment_full %}{% trans 'Place on waiting list' %}{% else %}{% trans 'Enroll' %}{% endif %}" />
                        </p>
                    </form>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="icon warning">
            {% url 'oidc_authentication_init' as login_url %}
            {% blocktrans with login_url=login_url next_url=obj.get_absolute_url %}
                To view or alter your enrollment, please <a href="{{ login_url }}?next={{ next_url }}">log in</a>.
            {% endblocktrans %}
        </p>
    {% endif %}

{% else %}
    {% if obj.oauth_application %}
        <p class="icon warning">
            {% trans 'You can only enroll for this activity on the website of this activity' %}
        </p>
    {% elif request.person and request.person in obj.confirmed_participants.all %}
        <p class="icon pos">
            {% trans 'You have enrolled for this event' %}
        </p>
    {% elif request.person and request.person in obj.waiting_participants.all %}
        <p class="icon pos">{% trans 'You are enrolled on the waiting list for this event.' %}</p>
        <p class="icon icon-information">{% trans 'Your spot on the waiting list is' %}: {{ number_on_waiting_list }}</p>
    {% elif obj.enrollment_closed %}
        <p>
            {% trans 'Unfortunately, you cannot enroll for this activity anymore, as the enrollment period has ended.' %}
        </p>
    {% else %}
        <p>
            {% blocktrans with enrollment_begin=obj.enrollment_begin enrollment_end=obj.enrollment_end %}
                The enrollment for this activity has not been opened yet. You can enroll from {{ enrollment_begin }} until {{ enrollment_end }}.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endif %}
