*~
*.pyc
*.pyo
celerybeat-schedule
amelie/settings/local.py
# Old settings location
settings/local.py
*.log
*.orig
.*.swp
*.pid
.idea
static/*
site_media
.venv
venv/
.apt/
.cache/
media/
amelie.db
amelie.egg-info
build/

# backups of local settings, but not the .default settings
amelie/settings/local.py*
!amelie/settings/local.py.default
!amelie/settings/local.py.localdev

# Ignore credentials folder, except for the gitkeep file
credentials/*
!credentials/.gitkeep
