Django>=4.2.11,<4.3
importlib-metadata>=1.4.0,<5.0  # importlib-metadata 5+ causes Celery bug: https://github.com/celery/celery/issues/7783
celery>=5.3.5,<5.4
flower==1.2.0
django-celery-results>=2.4,<2.5

django-allow-cidr>=0.5.0,<0.6
django-compressor>=4.1,<4.2
django-localflavor>=3.1,<3.2
django-extensions>=3.2.1,<3.3
django-formtools>=2.4,<2.5
django-auditlog>=2.2.0,<2.3
django-oauth-toolkit>=1.7.1,<1.8  # 2.x has breaking changes.
django-cors-headers>=3.13.0,<3.14
django-colorfield
django-environ

# Django Modern RPC -- For our JSONRPC API
django-modern-rpc>=1.0.1,<1.1

# WYSIWYG Editor for Django
django-ckeditor>=6.3.2

# FCM (Firebase Cloud Messaging)
fcm-django>=0.3.11,<1  # 1.x has breaking changes (old firebase api removed) # TODO: Breaking

# Used for stripping Markdown notations and indexing the IA Summary website.
beautifulsoup4>=4.11.1,<4.12

# Sanitizing Markdown strings in amelie template tags
bleach>=5.0.1,<5.1

# Other random dependencies, to be documented, see issue #556 ...
httplib2>=0.20.4,<0.21
icalendar>=4.1.0,<4.2
Markdown>=3.3.7,<3.4  # 3.4+ has breaking changes in changelog that have not been checked.
markdown2>=2.4.5,<2.5
mysqlclient
# Pillow requires libjpeg-dev zlib1g-dev (on Debian)
Pillow>=9.2.0,<9.3
python-gitlab>=3.10,<3.11.0
python-dateutil>=2.8.2,<2.9
# python-ldap requires libldap-dev libsasl2-dev (on Debian) to build
python-ldap>=3.4.3,<3.5
raven>=6.10.0,<6.11
reportlab>=3.6.11
requests>=2.28.1,<2.32
twython>=3.9.1,<3.10
html2text>=2020.1.16,<2024.2.26

# Daphne - to run the website in ASGI mode on a proper webserver
daphne>=3.0,<4.2
# UWSGI - to run the website in WSGI mode on a proper webserver
uwsgi>=2.0,<2.1

# QR code generator for personal tab POS (requires Pillow)
qrcode>=7.3.1,<7.4

# Google API Client
google-api-python-client>=2.63.0,<3
oauth2client>=4.1.3,<4.2
pyOpenSSL>=22.1.0,<23.3.0  # PKCS12 deprecation in 23.3.0, need to migrate gsuite plugin to google-auth-oauthlib. See https://googleapis.github.io/google-api-python-client/docs/oauth.html

# Development
django-debug-toolbar>=3.7,<4.5
django-rosetta>=0.9.8,<0.10
docutils>=0.19,<0.20
pyinotify
model_bakery>=1.7.0,<1.19
django-silk>=5.0.1,<5.2

# SAML IdP (requires xmlsec1 (on Debian))
pysaml2>=7.2.1,<7.5
djangosaml2idp>=0.7.2,<0.8 #TODO: Officially only supports Django up-and-till 3.0 (not updated for the last 3 years)

# Single Sign On - OIDC Client
mozilla-django-oidc

# Sentry error logging
sentry-sdk>=1.22.1,<1.23

# Health checks for Django
django-health-check>=3.16.5,<3.17
