{% extends 'basis.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete balcony duty association' %}
{% endblock %}

{% block content %}
    <div class="ia">
        <h2>{% trans 'Delete balcony duty association' %}</h2>
        <div class="content">
            <p>{% blocktrans %}
                Are you sure you want to delete {{ association }}?
            {% endblocktrans %}</p>

            <a class="looks-like-a-button" href="{% url 'room_duty:balcony_duty' %}">
                {% trans 'Cancel' %}
            </a>

            <form class="inline" action="" method="POST">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Delete' %}">
            </form>
        </div>

    </div>
{% endblock %}