{% load i18n %}

<style>
    table {
        border: 2px solid #000;
        border-spacing: 0;
    }
    tr {
        text-align: left;
    }
    td, th {
        padding: 4px;
        border: 1px solid #999;
    }
</style>

<p> {% trans 'This enrollment list contains personal data. Please do not leave this lying around somewhere and make sure that it is destroyed after use. If you find this list somewhere, please give it to the board of Inter-Actief.' %}</p>

<p>
    {% trans 'Number of participants' %} {{ number_participants }}
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; min-width: 30px;">&checkmark;</th>
                <th data-sortable="true" data-field="name">
                    {% trans 'Name' %}
                </th>
                {% for enrollmentoption in obj.enrollmentoption_set.all %}
                    <th>{{ enrollmentoption.title }}</th>
                {% endfor %}
                <th>{% trans 'Payment' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for participation in participation_set %}
                <tr>
                    <td></td>
                    <td>
                        {{ participation.person.incomplete_name }}
                    </td>
                    {% for answer in participation.enrollmentoptionanswer_set.all %}
                        <td>{{ answer.display_answer }}</td>
                    {% endfor %}
                    <td>
                        {% if participation.is_free %}
                            <i>{% trans 'n.a. (free)' %}</i>
                        {% else %}
                            {% with participation.payment_details as details %}
                                <span>
                                {% if participation.is_paid %}
                                    {% trans 'Paid' %}
                                {# Cannot use brackets in jinja templates, so we need to list the same block twice. #}
                                {% elif details.0 == 'unpaid' and details.1 != None %}
                                    {% trans 'To be debited' %}
                                {% elif details.0 == 'reversed' %}
                                    {% trans 'To be debited' %}
                                {% else %}
                                    {% if details.0 == 'unpaid' and details.1 == None %}
                                        <img src="{{ STATIC_URL }}img/icons/error.png" title="{{ participation.remark}}" /> {% trans 'Needs manual payment' %}
                                    {% else %}
                                        <img src="{{ STATIC_URL }}img/icons/error.png" title="{{ participation.remark}}" /> {% trans 'Not paid yet' %}
                                    {% endif %}
                                {% endif %}
                                </span>
                            {% endwith %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if food_subtotals %}
<h3>{% trans 'Order totals' %}</h3>
<div class="table-responsive">
    <table class="table">
        <tr><th>{% trans 'Dish' %}</th><th>{% trans 'Price' %}</th><th>{% trans 'Amount' %}</th><th>{% trans 'Total price' %}</th></tr>
    {% for dish in food_subtotals %}
        <tr><td>{{ dish.dish }}</td><td>{{ dish.price }} euro</td><td>{{ dish.amount }}</td><td>{{ dish.total_price }} euro</td></tr>
    {% endfor %}
        <tr><th>{% trans 'Total' %}</th><th>-</th><th>{{ food_totals.amount }}</th><th>{{ food_totals.total_price }} euro</th></tr>
    </table>
</div>
{% endif %}
