{% extends "basis.html" %}
{% load i18n %}

{% block titel %}
    {% if update %}
        {% if indirect %}
            {% blocktrans with person=person summary=activity.summary %}
                Update enrollment of {{ person }} for {{ summary }}
            {% endblocktrans %}
        {% else %}
            {% blocktrans with summary=activity.summary %}
                Update enrollment for {{ summary }}
            {% endblocktrans %}
        {% endif %}
    {% else %}
        {% if indirect %}
            {% blocktrans with person=person summary=activity.summary %}
                Enroll {{ person }} for {{ summary }}
            {% endblocktrans %}
        {% else %}
            {% blocktrans with summary=activity.summary %}
                Enroll for {{ summary }}
            {% endblocktrans %}
        {% endif %}
    {% endif %}
{% endblock titel %}

{% block content %}
	<form method="post" action="" class="big">
		{% csrf_token %}
		<div class="col-xs-12"><div class="current">
            <h2>
                {% if update %}
                    {% if indirect %}
                        {% blocktrans with person=person summary=activity.summary %}
                            Update enrollment of {{ person }} for {{ summary }}
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with summary=activity.summary %}
                            Update enrollment for {{ summary }}
                        {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% if indirect %}
                        {% blocktrans with person=person summary=activity.summary %}
                            Enroll {{ person }} for {{ summary }}
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with summary=activity.summary %}
                            Enroll for {{ summary }}
                        {% endblocktrans %}
                    {% endif %}
                {% endif %}
			</h2>

			<div class="content">
				<p>
                {% if update %}
					{% if indirect %}
						{% blocktrans with name=person.first_name %}
						 	With this form, you will update the enrollment of {{ name }} for the activity.
						{% endblocktrans %}
					{% else %}
						{% blocktrans %}
						 	Click "Update" below this form to save the changes to your enrollment.
						{% endblocktrans %}
					{% endif %}
                {% else %}
					{% if indirect %}
						{% blocktrans with name=person.first_name %}
						 	With this form, you will enroll {{ name }} for the activity.
						{% endblocktrans %}
					{% else %}
						{% blocktrans %}
						 	Click "Enroll" below this form to confirm your enrollment.
						{% endblocktrans %}
					{% endif %}
                {% endif %}

					{% if activity.price != 0 %}
						{% trans 'The enrollment fee is' %} <b>{{ activity.price }} euro</b>.
					{% endif %}
				</p>

				{% if not update and activity.enrollment_full and not person in obj.confirmed_participants %}
					<p class="icon attention">
					{% if indirect %}
						{% trans 'There are no more openings. The person will be enrolled on the waiting list unless you override this.' %}
					{% else %}
						{% trans 'Unfortunately, there are no more openings. You will be enrolled on the waiting list.' %}
					{% endif %}
					</p>
				{% endif %}
			</div>
        </div></div>

		{% if activity.has_enrollmentoptions %}
			<div class="col-xs-12"><div class="current">
                <h2>{% trans 'Enrollment options' %}</h2>

                <div class="content">
                    <p>
                        {% trans 'The activity has a few enrollment options. Please fill these out before you enroll.' %}
                    </p>
                    <p>
                        {% trans '<b>Warning:</b> some of these options may cost extra!' %}
                    </p>

                    {% for form_id, subform in form.forms.items %}
                        {% if subform.enrollmentoption_type == 'EnrollmentoptionQuestion' %}
                            {% include "forms/enrollmentoption_question_answer.html" with form=subform %}
                        {% endif %}

                        {% if subform.enrollmentoption_type == 'EnrollmentoptionCheckbox' %}
                            {% include "forms/enrollmentoption_checkbox_answer.html" with form=subform %}
                        {% endif %}

                        {% if subform.enrollmentoption_type == 'EnrollmentoptionNumeric' %}
                            {% include "forms/enrollmentoption_numeric_answer.html" with form=subform %}
                        {% endif %}

                        {% if subform.enrollmentoption_type == 'EnrollmentoptionFood' %}
                            {% include "forms/enrollmentoption_foodquestion_answer.html" with form=subform %}
                        {% endif %}
                    {% endfor %}
                </div>
			</div></div>
		{% endif %}

		<div class="col-xs-12"><div class="current">
            <h2>{% trans 'Costs' %}</h2>

            <div class="content">
                {% if indirect %}
                    <p>
                        {% if update %}
                            {% blocktrans with name=person.first_name %}
                                It is assumed that {{ name }} has given their permission for their enrollment to be modified.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with name=person.first_name %}
                                It is assumed that {{ name }} has given their permission to be enrolled.
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                    <p>
                        {{ form.forms.indirect }}
                    </p>
                {% else %}
                    {# Direct enrollments are only allowed if the person has an active mandate. #}
                    <p>
                        {% blocktrans %}
                            By pressing the sign-up-button, I declare to be aware that any enrollment costs will be
                            taken from my bank account through direct debit by Inter-<i>Actief</i> in accordance with
                            the authorization I granted for consumptions and activities.
                        {% endblocktrans %}
                    </p>
                {% endif %}

                <p>
                    <b>{% trans 'Total' %}:</b>&nbsp;<span id="totalprice">{{ activity.price }}</span> euro
                </p>

                {% if indirect and activity.price > 0 %}
                    <ul class="ia_messages">
                        {% if person.has_mandate_activities %}
                            <li class="info">
                                {% blocktrans with name=person.first_name %}
                                    The costs will be deducted from {{ name }}'s personal tab
                                    and will be paid via their direct debit mandate.
                                {% endblocktrans %}
                            </li>
                        {% else %}
                            <li class="warning">
                                {% blocktrans with name=person.first_name %}
                                    {{ name }} has no direct debit mandate for activities.
                                    The costs will be deducted from their personal tab balance and will
                                    need to be paid manually, either at the activity or at the board.
                                {% endblocktrans %}
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                <div class="buttons">
                    <input type="submit" name="submit" value="{% if update %}{% trans 'Update' %}{% else %}{% trans 'Enroll' %}{% endif %}" />
                    <a href="{{ activity.get_absolute_url }}" class="looks-like-a-button">{% trans 'Cancel' %}</a>
                </div>
			</div>
        </div></div>
	</form>

	<script type="text/javascript">
		$(document).ready(function(){
			var price = parseFloat('{{ activity.price|stringformat:".2f" }}');

			// Calculate new price
			var calculatePrice = (function() {
				var newPrice = parseFloat(price);

				$("form span[data-price_extra]").each(function() {
					// Checkboxes
					if ($(this).find("input[type=checkbox]").is(":checked")) {
						var priceExtra = String($(this).data("price_extra"));
                        priceExtra = priceExtra.replace(",", ".");
                        priceExtra = parseFloat(priceExtra);
                        newPrice += priceExtra;
					}

					// Numeric
					if ($(this).find("input[type=number]")) {
						var priceExtra = String($(this).data("price_extra"));
                        priceExtra = priceExtra.replace(",", ".");
                        priceExtra = parseFloat(priceExtra);
                        var count = $(this).find("input[type=number]").val()
                        if (count > 0) {
                            var priceCounted = count * priceExtra;
                            newPrice += priceCounted;
                        }
					}
				});

                $("form option[data-price_extra]").each(function() {
					// Options
					if ($(this).is(":selected")) {
						var priceExtra = String($(this).data("price_extra"));
						priceExtra = priceExtra.replace(",", ".");
						priceExtra = parseFloat(priceExtra);
						newPrice += priceExtra;
					}
				});

				$("span#totalprice").text(newPrice.toFixed(2));
			});

			// Execute on form change
			$("form span[data-price_extra]").each(function() {
				$(this).find("input").change(calculatePrice);
				{#$(this).find("input").click(calculatePrice);#}
			});

            $("select").each(function() {
				$(this).change(calculatePrice);
			});

			// Init
			calculatePrice();
		});
	</script>
{% endblock content %}
