{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans 'Confirmation of unenrollment' %} {{ obj }}{% endblock titel %}

{% block content %}
    <div class="col-xs-12"><div class="current">
        <h2>{% trans 'Confirmation unenrollment' %} {{ obj }}</h2>
        <div class="content">
            <p>
            {% if indirect %}
                {% blocktrans with obj=activity person=person %}
                    Are you sure you want to unenroll {{ person }} for {{ obj }}?
                {% endblocktrans %}
            {% else %}
                {% blocktrans with obj=activity %}
                    Are you sure you want to unenroll for {{ obj }}?
                {% endblocktrans %}
            {% endif %}
            </p>

            <form method="post" action="">
                {% csrf_token %}
                <p>
                    <input type="submit" name="yes" value="{% trans 'Yes' %}"/>
                    <a class="looks-like-a-button" href="{{ activity.get_absolute_url }}">{% trans 'No' %}</a>
                </p>
            </form>
        </div>
    </div></div>
{% endblock content %}
