{% extends "basis.html" %}
{% load i18n %}

{% block titel %}
	{% blocktrans with name=obj.summary %}
		Enroll for {{ name }}
	{% endblocktrans %}
{% endblock titel %}

{% block content %}
	<div class="col-xs-12"><div class="current">
		<h2>
			{% blocktrans with name=obj.summary %}
				Enroll for {{ name }}
			{% endblocktrans %}
		</h2>

		<div class="content">
			<p>
				{% blocktrans %}
				 	Unfortunately, you cannot enroll for this activity, because it has an entrance fee, or you have
                    selected a paid enrollment option. You do not have a signed direct debit mandate for
                    consumptions and activities. Without this authorization, we cannot withdraw money from
                    your account. Please ask the board for a mandate form.
				{% endblocktrans %}
			</p>

			<p>
		    {% blocktrans %}
		        Would you prefer not to sign a direct debit mandate? Please contact the board or organizing
                committee to see if it's possible to pay manually by cash or PIN for this activity.
		    {% endblocktrans %}
	    </p>
		</div>
	</div></div>
{% endblock content %}
