{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans 'Confirmation delete' %} {{ object }}{% endblock titel %}

{% block content %}
    <div class="col-xs-12"><div class="current">
        <h2>{% trans 'Confirmation delete' %} {{ object }}</h2>
        <div class="content">
            <p>
            {% blocktrans with obj=object %}
                Are you sure you want to remove {{ obj }}?
            {% endblocktrans %}
            </p>

            <p><b>{% trans 'All enrollments will be deleted and the transactions will be undone' %}</b></p>

            <form method="post" action="">
                {% csrf_token %}
                <p>
                    <input type="submit" name="yes" value="{% trans 'Yes' %}"/>
                    <a href="{% url 'activities:activity' pk=object.pk %}" class="looks-like-a-button">{% trans 'No' %}</a>
                </p>
            </form>
        </div>
    </div></div>
{% endblock content %}
