{% extends "basis.html" %}
{% load i18n fieldsets extend %}

{% block titel %}
    {% if is_new %}
        {% trans 'Add event' %}
    {% else %}
        {% trans 'Edit this event' %}
    {% endif %}
{% endblock titel %}

{% block content %}
    <form class="big" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xs-12 col-md-6">
            <div class="ia">
                <h2>{% if is_new %}{% trans 'Add event' %}{% else %}{% trans 'Edit this event ' %}{% endif %}</h2>
                {% for error in form.non_field_errors %}
                    <div class="icon-error">{{ error }}</div>
                {% endfor %}

                <div class="content">
                    {% if form.summary_nl.errors or form.summary_en.errors %}
                        {% for error in form.summary_nl.errors|extend:form.summary_en.errors %}
                            <div class="icon-error"> {{ error }} </div>
                        {% endfor %}
                    {% endif %}
                    <div class="tabbed-ticker">
                        <ul>
                            <li class="active">NL</li>
                            <li>EN</li>
                        </ul>
                        <div class="tabbed-content">
                            <div>{{ form.summary_nl }}</div>
                            <div>{{ form.summary_en }}</div>
                        </div>
                    </div>

                    {% fieldset location,begin,end,visible_from,visible_till,dutch_activity as form_general from form %}
                    {{ form_general }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="ia">
                <h2>{% trans 'Company' %}</h2>
                <div class="content">
                    <p>
                        {% blocktrans %}
                            Fill in the company which organises this event. If the company has a page on the company
                            corner fill in the first field, otherwise fill in the other two fields
                        {% endblocktrans %}
                    </p>
                    {% fieldset company as form_company_cc from form %}
                    {{ form_company_cc }}

                    <div id="manual_company">
                        {% fieldset company_text,company_url as form_company from form %}
                        {{ form_company }}
                    </div>

                    <script>
                        var change_selector = function () {
                            if ($("#id_company").val() == "") {
                                $("#manual_company").show();
                            } else {
                                $("#manual_company").hide();
                            }
                        };

                        $("#id_company").change(function () {
                            change_selector();
                        });
                        $().ready(function () {
                            change_selector();
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12">
            <div class="ia">
                <h2> {% trans "Description" %} </h2>

                <div class="content">
                    {% if form.description_nl.errors or form.description_en.errors %}
                        {% for error in form.description_nl.errors|extend:form.description_en.errors %}
                            <div class="icon-error"> {{ error }} </div>
                        {% endfor %}
                    {% endif %}
                    <div class="tabbed-ticker">
                        <ul>
                            <li class="active">NL</li>
                            <li>EN</li>
                        </ul>
                        <div class="tabbed-content">
                            <div>{{ form.description_nl }}</div>
                            <div>{{ form.description_en }}</div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" name="submit" value="{% trans 'Save' %}"/>

                        {% if is_new %}
                            <a class="looks-like-a-button"
                               href="{% url 'activities:activities' %}">{% trans 'Cancel' %}</a>
                        {% else %}
                            <a class="looks-like-a-button" href="{{ obj.get_absolute_url }}">{% trans 'Cancel' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
