{% extends "basis.html" %}
{% load humanize %}
{% load i18n transaction_link %}

{% block titel %}{% trans 'Unpaid Transactions' %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12"><div class="ia">
        <h2>{% blocktrans with name=person.incomplete_name %}
            Unpaid Transactions for {{ name }}
        {% endblocktrans %}</h2>

        <div class="content">
            <p>
                {% blocktrans with curr_balance=curr_balance all_balance=all_balance %}
                    Your current balance is <b>&euro; {{ curr_balance }}</b>. Including future transactions that will be <b>&euro; {{ all_balance }}</b>.
                {% endblocktrans %}
                <a class="looks-like-a-button float-right" style="margin-top: 0" href="{% url 'personal_tab:dashboard' person.pk person.slug %}">{% trans 'Back to overview' %}</a>
            </p>

            <h3>{% trans 'Overview' %}</h3>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'Transaction type' %}</th>
                            <th class="align-right">{% trans 'Price' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sums_per_type %}
                            {% for entry_name, entry_sum in sums_per_type %}
                                <tr>
                                    <td>{{ entry_name }}</td>
                                    <td class="align-right">&euro;&nbsp;{{ entry_sum|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="text-bold">
                                <td class="align-right">{% trans 'Subtotal' %}</td>
                                <td class="align-right">&euro;&nbsp;{{ totals|last|intcomma }}</td>
                            </tr>
                            <tr><td colspan="2"></td></tr>
                        {% endif %}
                        <tr class="text-bold">
                            <td class="align-right">{% trans 'Payments' %}</td>
                            <td class="align-right">&euro;&nbsp;{{ payment_totals|intcomma }}</td>
                        </tr>
                        <tr><td colspan="2"></td></tr>
                        <tr class="text-bold">
                            <td class="align-right">{% trans 'Balance' %}</td>
                            <td class="align-right">&euro;&nbsp;{{ sums_balance|intcomma }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>{% trans 'Transactions per type' %}</h2>
            {% if not has_transactions %}
                <p class="icon warning">{% trans 'No unpaid transactions have been found' %}</p>
            {% else %}
                <h3>{% trans 'Personal tab' %}</h3>
                {% include "lists/cookie_corner_transactions.html" with transactions=all_transactions.0 totals=totals.0  %}

                <h3>{% trans 'Activities' %}</h3>
                {% include "lists/activity_transactions.html" with transactions=all_transactions.1 totals=totals.1  %}

                <h3>{% trans 'Alexia' %}</h3>
                {% include "lists/alexia_transactions.html" with transactions=all_transactions.2 totals=totals.2 %}

                <h3>{% trans 'Contribution' %}</h3>
                {% include "lists/contribution_transactions.html" with transactions=all_transactions.3 totals=totals.3 %}

                <h3>{% trans 'Other' %}</h3>
                {% include "lists/custom_transactions.html" with transactions=all_transactions.4 totals=totals.4 %}

                <h3>{% trans 'Payments' %}</h3>
                {% include "lists/payment_transactions.html" with transactions=payment_transactions totals=payment_totals %}
            {% endif %}
        </div>
    </div></div>

{% endblock content %}
