{% extends "basis.html" %}
{% load i18n fieldsets %}

{% block titel %}{% trans "New Declaration" %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12">
        <div class="current">
            <h2>{% trans "New Declaration" %}</h2>

            <div class="content">
                <p>
                    {% blocktrans %}
                        Fill in the details of your declaration.
                    {% endblocktrans %}
                </p>

                <h3>{% trans "Declaration Information" %}</h3>
                <ul>
                    <li>{% trans "Only XXXX files are accepted" %}</li>
                    <li>{% trans "Maximum file size:" %} {{ max_file_size }}</li>
                </ul>

                <form class="big" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <ul class="ia_messages">
                            <li class="error">{{ form.non_field_errors|safe }}</li>
                        </ul>
                    {% endif %}

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <td>
                                    {{ user.person.full_name }}
                                </td>
                            </tr>
                            {% if user.person.current_committees.exists %}
                            <tr>
                                <th>{{ form.committee.label }}</th>
                                <td>
                                    {{ form.committee.errors|safe }}
                                    <div>{{ form.committee }}</div>
                                    {% if form.committee.help_text %}
                                        <small class="help-text">
                                            {{ form.committee.help_text }}
                                            {% blocktrans with per_page_cost=per_page_cost %}
                                                (&euro; {{ per_page_cost }} per page)
                                            {% endblocktrans %}
                                        </small>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>{{ form.copies.label }}</th>
                                <td>
                                    {{ form.copies.errors|safe }}
                                    <div>{{ form.copies }}</div>
                                    {% if form.copies.help_text %}
                                        <small class="help-text">{{ form.copies.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ form.dual_sided.label }}</th>
                                <td>
                                    {{ form.dual_sided.errors|safe }}
                                    <div>{{ form.dual_sided }}</div>
                                    {% if form.dual_sided.help_text %}
                                        <small class="help-text">{{ form.dual_sided.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <ul class="ia_messages">
                    {% if user.person.current_committees.exists %}
                        <li class="info">
                            <p>
                            {% blocktrans %}
                                If your print is for a committee, select it in the form above.
                                In that case the print will be free.
                            {% endblocktrans %}
                            </p><p>
                            {% blocktrans %}
                                If you want to print for personal use, leave the committee field empty ("-- Pay via personal tab --" option).
                                In that case the print will be charged to your personal tab at a rate of &euro; {{ per_page_cost }} per page (single or dual-sided).
                            {% endblocktrans %}
                            </p>
                        </li>
                    {% else %}
                        <li class="info">
                            {% blocktrans %}
                                You are not currently a member of any committees. All prints will be charged to your personal tab at a rate of &euro; {{ per_page_cost }} per page (single or dual-sided).
                            {% endblocktrans %}
                        </li>
                    {% endif %}
                    </ul>

                    <div>
                        <input type="submit" value="{% trans 'Print Document' %} &raquo;" />
                        <span class="icon icon-error">{% trans 'Note: Printer will start printing immediately, check the selected document carefully before submitting!' %}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
