{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans 'Forgive Unpaid Memberships' %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12">
        <div class="ia">
            <h2>{% trans 'Forgive Unpaid Memberships' %} </h2>
            <div class="content">
                <h3 class="legend">{% trans 'You are about to forgive the membership fee of the following persons:' %}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Current Member?' %}</th>
                            <th>{% trans 'Year' %}</th>
                            <th>{% trans 'Price' %}</th>
                        </tr>
                    </thead>
                    <tbody>  
                        {% for membership in memberships %}
                        <tr>
                            <td class="align-left">
                                <a href="{% url 'members:person_view' membership.member.pk membership.member.slug %}">
                                    {{ membership.member.incomplete_name }}
                                </a>
                            </td>
                            <td class="align-right">
                                {% if membership.member.is_member %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td class="align-right">{{ membership.year }}</td>
                            <td class="align-right">{{ membership.type.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form action="{% url 'personal_tab:unpaid_memberships_forgive' year %}?memberships={% for membership in memberships %}{% if not forloop.first %},{% endif %}{{ membership.pk }}{% endfor %}" method="post">
                    {% csrf_token %}
                    <div class="buttons">
                        <a href="{% url 'personal_tab:unpaid_memberships_year' year %}" class="looks-like-a-button">
                            {% trans 'Cancel' %}
                        </a>
                        <input type="submit" name="confirm" value="{% trans 'Confirm' %}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}