{% load humanize %}
{% load i18n %}

{% if transactions %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Time' %}</th>
                    <th>{% trans 'Person' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th class="align-right">{% trans 'Price' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date|date:"d F Y" }}</td>
                        <td>{{ transaction.date|date:"G:i"}}</td>
                        <td>
                            {% if transaction.person %}
                                {% if request.is_board %}
                                    <a href="{{ transaction.person.get_absolute_url }}">
                                        {{ transaction.person }}
                                    </a>
                                    &nbsp;
                                    <a title="{% blocktrans with name=transaction.person.first_name %}Go to {{ name }}'s personal tab{% endblocktrans %}"
                                       href="{% url 'personal_tab:dashboard' transaction.person.pk transaction.person.slug  %}">
                                        <span class="icon personal_tab"></span>
                                    </a>
                                {% else %}
                                    {{ transaction.person }}
                                {% endif %}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td>{{ transaction.description }}</td>
                        <td class="align-right">&euro;&nbsp;{{ transaction.price|intcomma }}</td>
                    </tr>
                {% endfor %}
                {% if total %}
                    <tr class="text-bold">
                        <td colspan="3"></td>
                        <td>{% trans 'Total' %}</td>
                        <td class="align-right">&euro;&nbsp;{{ totals|intcomma }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="icon warning">{% trans 'No transactions' %}</p>
{% endif %}
