{% extends "basis.html" %}
{% load i18n claudia_tags %}

{% block titel %}{% trans 'Claudia' %} - {{mapping}} {% endblock titel %}

{% block content %}
    {% include "claudia/nav.html" %}

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans 'Timeline' %}</h2>

        <div class="content">
            <p>{% trans 'Mapping:' %} {{ mapping|clau_mapping }}</p>

            {% include "paginator.html" with page=page_obj %}

            <table>
                <tr>
                    <th>{% trans 'Date/time' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Name' %}</th>
                </tr>
                {% for timeline in page_obj %}
                <tr>
                    <td rowspan="2">{% ifchanged %}{{ timeline.datetime }}{% endifchanged %}</td>
                    <td>{{ timeline.type }}</td>
                    <td>{{ timeline.name }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ timeline.description }}</td>
                </tr>
                {% endfor %}
            </table>

            {% include "paginator.html" with page=page_obj %}
        </div>
    </div></div>
{% endblock content %}
