{% extends "basis.html" %}

{% load i18n %}

{% block titel %}
{% block title %}{% trans 'Health checks'%}{% endblock title %}
{% endblock titel %}

{% block head %}
<meta name="robots" content="noindex">
<style type="text/css">
    .status_icon {
        display: inline-block;
        top: 2px;
        position: relative;
        margin-right: 4px;
    }
</style>
{% block extra_head %}{% endblock extra_head %}
{% endblock head %}

{% block content %}
  <div class="col-xs-12">
    <div class="ia">
      <h2>{% trans 'System status' %}</h2>

      <div class="content">
        <h3>{% trans 'System status' %}</h3>
        <table>
          <thead>
            <tr>
              <th>{% trans 'Service' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Time Taken' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for plugin in plugins %}
              <tr>
                <td>
                  {% if plugin.status %}
                    <div class="icon status_icon icon-accept" aria-hidden="true"></div>
                  {% else %}
                    <div class="icon status_icon icon-cancel" aria-hidden="true"></div>
                  {% endif %}
                  <span>{{ plugin.identifier }}</span>
                </td>
                <td>{{ plugin.pretty_status }}</td>
                <td>{{ plugin.time_taken|floatformat:4 }} {% trans 'seconds' %}</td>
              </tr>
            {% empty %}
                <td colspan="3">{% trans 'No status available.' %}</td>
            {% endfor %}
          </tbody>
        </table>

        <h3>{% trans 'Celery worker status' %}</h3>
        <table>
          <thead>
            <tr>
              <th>{% trans 'Worker name' %}</th>
              <th>{% trans 'Active' %}</th>
              <th>{% trans 'Processed' %}</th>
              <th>{% trans 'Failed' %}</th>
              <th>{% trans 'Succeeded' %}</th>
              <th>{% trans 'Retried' %}</th>
              <th>{% trans 'Load average' %}</th>
              <th>{% trans 'Last heartbeat' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for worker in celery_workers %}
              <tr>
                <td>
                    {% if worker.status %}
                      <div class="icon status_icon icon-accept" aria-hidden="true"></div>
                    {% else %}
                      <div class="icon status_icon icon-cancel" aria-hidden="true"></div>
                    {% endif %}
                    {% if worker.name %}
                        <span>{{ worker.name }}</span>
                    {% else %}
                        <div class="icon status_icon icon-error" aria-hidden="true"></div>{% trans 'Unknown' %}
                    {% endif %}
                </td>
                <td>{{ worker.active }}</td>
                <td>{{ worker.processed }}</td>
                <td>{{ worker.failed }}</td>
                <td>{{ worker.succeeded }}</td>
                <td>{{ worker.retried }}</td>
                <td>
                    {% if worker.loadavg %}
                        <span>{{ worker.loadavg|join:', ' }}</span>
                    {% else %}
                        <div class="icon status_icon icon-error" aria-hidden="true"></div>
                        <span>{% trans 'Unknown' %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if worker.last_heartbeat %}
                        <abbr title="{{ worker.last_heartbeat }}">{{ worker.last_heartbeat|timesince }}</abbr>
                    {% else %}
                        <div class="icon status_icon icon-error" aria-hidden="true"></div>
                        <span>{% trans 'Unknown' %}</span>
                    {% endif %}
                </td>
              </tr>
            {% empty %}
                <td colspan="8">
                    <div class="icon status_icon icon-error" aria-hidden="true"></div>
                    <span>{% trans 'No worker status available.' %}</span>
                </td>
            {% endfor %}
          </tbody>
        </table>

        <h3>{% trans 'RabbitMQ queue status' %}</h3>
        <table>
          <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'State' %}</th>
              <th>{% trans 'Consumers' %}</th>
              <th>{% trans 'Queued messages' %}</th>
              <th>{% trans 'Total recent messages' %}</th>
              <th>{% trans 'Message rates' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for queue in rabbitmq_queues %}
              <tr>
                <td>
                    {% if queue.name %}
                        <span>{% if queue.vhost %}{{ queue.vhost }}&nbsp;/&nbsp;{% endif %}{{ queue.name }}</span>
                    {% else %}
                        <div class="icon status_icon icon-error" aria-hidden="true"></div>
                        <span>{% trans 'Unknown' %}</span>
                    {% endif %}
                </td>
                <td>
                  {% if queue.state == "running" %}
                    <div class="icon status_icon icon-accept" aria-hidden="true"></div>
                  {% elif queue.state == "down" %}
                    <div class="icon status_icon icon-cancel" aria-hidden="true"></div>
                  {% else %}
                    <div class="icon status_icon icon-error" aria-hidden="true"></div>
                  {% endif %}
                  <span>{% if queue.state %}{{ queue.state }}{% else %}{% trans 'Unknown' %}{% endif %}</span>
                </td>
                <td>
                  {% if queue.consumers == 0 %}
                    <div class="icon status_icon icon-error" aria-hidden="true"></div>
                  {% endif %}
                  <span>{{ queue.consumers }}</span>
                </td>
                <td>
                    {{ queue.messages.current_queued|default:'0' }}
                </td>
                <td>
                    {% blocktrans with msg_in=queue.messages.total_incoming|default:'0' msg_out=queue.messages.total_delivered|default:'0' %}
                        {{ msg_in }} in / {{ delivered }} out
                    {% endblocktrans %}
                </td>
                <td>
                    {% blocktrans with msg_in=queue.messages.incoming_rate|default:'0.0' msg_out=queue.messages.delivered_rate|default:'0.0' %}
                        {{ msg_in }} msg/s in / {{ msg_out }} msg/s out
                    {% endblocktrans %}
                </td>
              </tr>
            {% empty %}
                <td colspan="6">
                    <div class="icon status_icon icon-error" aria-hidden="true"></div>
                    <span>{% trans 'No queue status available.' %}</span>
                </td>
            {% endfor %}
          </tbody>
        </table>

        {% if request.user and request.user.is_superuser and info_tables %}
        {% for title, data in info_tables %}
        <h3>{{ title }}</h3>
        <table>
          <tbody>
            {% for k, v in data.items %}
              <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
            {% empty %}
                <td colspan="2">{% trans 'No info available.' %}</td>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
