{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{{ object }}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="current">
            <h2>{{ object }}</h2>
            <div class="content">
                <form method="post" action="">
                    {% csrf_token %}
                    <p>
                        {% trans 'Are you sure you want to remove this video?' %}
                    </p>
                    <p><b>
                        {% trans 'This will not delete the video on YouTube/Video.IA.' %}
                    </b></p>
                    <input type="submit" value="{% trans 'Delete video' %} &raquo;"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
