:root {
    --alpha-base: {{ palette.alpha.base|default:"#1d428a" }};
    --alpha-light: {{ palette.alpha.light|default:"#2450A8" }};
    --alpha-lighter: {{ palette.alpha.lighter|default:"#2450A8" }};
    --alpha-dark: {{ palette.alpha.dark|default:"#153065" }};
    --alpha-darker: {{ palette.alpha.darker|default:"#153065" }};

    --beta-base: {{ palette.beta.base|default:"#077821" }};
    --beta-light: {{ palette.beta.light|default:"#099A2B" }};
    --beta-lighter: {{ palette.beta.lighter|default:"#099A2B" }};
    --beta-dark: {{ palette.beta.dark|default:"#044D15" }};
    --beta-darker: {{ palette.beta.darker|default:"#044D15" }};

    --delta-base: {{ palette.delta.base|default:"#B8231F" }};
    --delta-light: {{ palette.delta.light|default:"#DC332E" }};
    --delta-lighter: {{ palette.delta.lighter|default:"#DC332E" }};
    --delta-dark: {{ palette.delta.dark|default:"#9D1F1B" }};
    --delta-darker: {{ palette.delta.darker|default:"#9D1F1B" }};

    --grey-base: {{ palette.grey.base|default:"#B8231F" }};
    --grey-light: {{ palette.grey.light|default:"#DC332E" }};
    --grey-lighter: {{ palette.grey.lighter|default:"#DC332E" }};
    --grey-dark: {{ palette.grey.dark|default:"#9D1F1B" }};
    --grey-darker: {{ palette.grey.darker|default:"#9D1F1B" }};
}
