{% extends "basis.html" %}
{% load i18n fieldsets %}

{% block titel %}
    {% blocktrans %}Edit office duty schedule template{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="ia">
        <h2>{% trans 'Change title' %}</h2>
        <div class="content">
            <form method="post" class="big">
                {% csrf_token %}
                {{ form.as_div }}
                <input type="submit" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>

    <div class="ia">
        <h2>{% trans 'Add office duty' %}</h2>
        <div class="content">
            <form action="{% url 'room_duty:template_room_duty_add' template.pk %}" method="post" class="big">
                {% csrf_token %}
                {{ room_duty_form.as_div }}
                <input type="submit" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>

    {% if template.room_duties.all %}
        <div class="ia">
                <h2>{% trans 'Office duties' %}</h2>
                <div class="content">
                <ul>
                    {% for room_duty in template.room_duties.all %}
                        <li>
                            {{ room_duty }}
                            <form action="{% url 'room_duty:template_room_duty_delete' template.pk room_duty.pk %}" method="post" class="inline">
                                {% csrf_token %}
                                <input type="submit" value="{% trans 'Delete' %}">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
