{% load i18n %}

<p class="paging edu">
    {% if education_news.has_previous %}
        <span><a href="?page=1">{% trans 'First' %}</a></span>
        <span><a href="?page={{ education_news.previous_page_number }}">{% trans 'Back' %}</a></span>
    {% else %}
        <span><a href="#" class="paging-disabled">{% trans 'First' %}</a></span>
        <span><a href="#" class="paging-disabled">{% trans 'Back' %}</a></span>
    {% endif %}

    {% for p in education_news.paginator.page_range %}
        {% if p == education_news.number %}
            <span class="current">{{ p }}</span>
        {% else %}
            <span><a href="?page={{ p }}">{{ p }}</a></span>
        {% endif %}
    {% endfor %}

    {% if education_news.has_next %}
        <span><a href="?page={{ education_news.next_page_number }}">{% trans 'Next' %}</a></span>
        <span><a href="?page={{ education_news.paginator.num_pages }}">{% trans 'Last' %}</a></span>
    {% else %}
        <span><a href="#" class="paging-disabled">{% trans 'Next' %}</a></span>
        <span><a href="#" class="paging-disabled">{% trans 'Last' %}</a></span>
    {% endif %}
</p>
