{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans 'Cookie Corner Wrapped' %}{% endblock titel %}

{% block content %}
  <div class="col-xs-12"><div class="ia">
    <h2>
      {% trans 'Cookie Corner Wrapped 2022' %}
    </h2>

    <div class="content">
      <p>
        {% trans 'Now that the year is coming to an end, this provides a great opportunity to reflect back on your personal year at Inter-Actief.' %}
      </p>
    </div>
  </div></div>
  
  <div class="col-xs-12 col-md-6">
    <div class="ia">
      <h2>
        {% trans 'Statistics per day' %}
      </h2>
      <div class="content">
        <p>
          <b>
            {% trans 'First transaction of the year: ' %}
          </b>
          {{ first_transaction_of_the_year.article }}
          {% trans 'on' %}
          {{ first_transaction_of_the_year.date }}
        </p>

        <p>
          <b>
            {% trans 'Last transaction of the year: ' %}
          </b>
          {{ last_transaction_of_the_year.article }}
          {% trans 'on' %}
          {{ last_transaction_of_the_year.date }}
        </p>

      </div>
    </div>

    <div class="ia">
      <h2>
        {% trans 'Top 5 products' %}
      </h2>

      <div class="content">
        <p>
          {% trans 'You bought certain items more than others during this year. What did you buy the most?' %}
        </p>
  
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{% trans 'Item' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Kcal' %}</th>
                <th>{% trans 'Amount' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for top in top_5_products %}
                <tr>
                  <td>{{ top.0.name }}</td>
                  <td>{{ top.0.price }}</td>
                  <td>{{ top.0.kcal }}</td>
                  <td>{{ top.1 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="ia">
      <h2>
        {% trans 'Totals' %}
      </h2>

      <div class="content">
        <p>
          {% trans 'Total spend in the cookie corner: ' %}
          €{{ total.price }}
        </p>

        <p>
          {% trans 'Total calories consumed: ' %}
          {{ total.kcal }}
        </p>

        <p>
          {% trans 'That is the calorie equivalent to:' %}
          {{ total.equivalent }}
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6"><div class="ia">
    <h2>
      {% trans 'Day with most transactions' %}
    </h2>
    <div class="content">
      <p>
        {% trans 'On' %}
        {{ most_transactions.day.day|date:'d-m-Y' }}
        {% trans ' you got a cookie ' %}
        {{ most_transactions.day.c }}
        {% trans ' times!' %}
      </p>

      <p>
        You bought:
      </p>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Item' %}</th>
              <th>{% trans 'Price' %}</th>
              <th>{% trans 'Kcal' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in most_transactions.list %}
              <tr>
                <td>{{ transaction.article.name }}</td>
                <td>{{ transaction.article.price }}</td>
                <td>{{ transaction.article.kcal }}</td>
              </tr>
            {% endfor %}

            <tr>
              <td>{% trans 'Total' %}</td>
              <td>{{ most_transactions.total_price }}</td>
              <td>{{ most_transactions.total_kcal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div></div>
{% endblock content %}
