{% load compress %}

<!doctype html>
<html>
    <head>
        <title>
            Room duty {{ title }}
        </title>
        <style>
            @import 'https://fonts.googleapis.com/css?family=Open+Sans';

            body {
                font-family: "Open Sans", sans-serif;
            }

            .time {
                text-align: right;
            }

            .cross {
                text-align: center;
            }

            .cross.disabled {
                background-color: #7f7f7f;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid #000;
                padding: 5px;
            }

            .kamerdienst-weekday-even + .kamerdienst-weekday-odd,
            .kamerdienst-weekday-odd + .kamerdienst-weekday-even {
                border-top: 4px solid black;
            }
        </style>
        <script type="text/javascript">
            window.addEventListener('load', function() {
                window.print();
            });
        </script>
    </head>
    <body>
        <h2>Balcony duty: {{ table.balcony_duty.association|default:"None" }}</h2>

        {% if table.balcony_duty %}
            {% with balcony_duty=table.balcony_duty.is_this_association %}
            <table>
                <tr>
                    <th colspan="2"><!-- Dummy --></th>
                    <th colspan="2">Monday</th>
                    <th colspan="2">Tuesday</th>
                    <th colspan="2">Wednesday</th>
                    <th colspan="2">Thursday</th>
                    <th colspan="2">Friday</th>
                </tr>


                <tr>
                    <td>Whole day</td>
                    <td>Help members</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                {% if balcony_duty %}
                <tr>
                    <th></th>
                    <td>Dishes</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                {% endif %}
                <tr>
                    <th></th>
                    <td>Annoy Scintilla</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>


                <tr>
                    <td>Morning</td>
                    <td>Open room</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Clean workspaces</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Vacuum floor</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Setup banner</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Check the food in the fridge for mould</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Restock fridge</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Retrieve mail (11:00)</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                </tr>

                <tr>
                    <td>Lunch</td>
                    <td>Water plants</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                </tr>

                <tr>
                    <td>Afternoon</td>
                    <td>Take out paper trash</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                {% if balcony_duty %}
                <tr>
                    <td></td>
                    <td>Big clean coffee machines</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td>Clean member mugs</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Empty trashcans</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Mop floor</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>ASITO</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                </tr>
                {% if balcony_duty %}
                <tr>
                    <td></td>
                    <td>Clean dishwasher</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td>Bring stuff to ZiBa</td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross disabled"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Close room</td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                    <td colspan="2" class="cross"></td>
                </tr>
            </table>
            {% endwith %}
        {% endif %}
    </body>
</html>
