{% extends "basis.html" %}
{% load i18n fieldsets %}

{% block titel %}
    {% blocktrans %}Add office duty{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="ia">
        <h2>{% trans 'Add office duty' %}</h2>
        <div class="content">
            <form action="{% url 'room_duty:table_room_duty_add' table.pk %}" method="post" class="big">
                {% csrf_token %}
                {{ form.as_div }}
                <input type="submit" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>
{% endblock %}
