{% load i18n %}

{# Success message in case a signature request for a membership was just sent. #}
{% if option == "sign_request_sent" %}
    <ul class="ia_messages"><li class="success">
        {% trans "The request for a digital signature was sent." %}
    </li></ul>
{% elif option == "sign_request_error" %}
    <ul class="ia_messages"><li class="error">
        {% trans "There was an error while sending the digital signature request. Please contact the WWW." %}
    </li></ul>
{% endif %}

{% if obj.membership_set.count == 0 %}
    <p>
        {% blocktrans %}
            {{ obj }} is not a member.
        {% endblocktrans %}

        <a href="{% url 'members:person_membership_new' obj.id %}" class="looks-like-a-button js-load-block" data-container="person_membership">
            {% trans 'Add membership' %}
        </a>
    </p>
{% else %}

    {% if obj.is_member %}
    <p class="icon pos">{% blocktrans %}{{ obj }} is a member{% endblocktrans %}{% if obj.is_member_strict %}.{% else %}{% trans ', but has not paid yet' %}{% endif %}
    </p>
        {% if obj.membership.is_verified %}
            <p class="icon pos">
                {% blocktrans with first_name=obj.first_name %}{{ first_name }} has a verified student status or does not need one.{% endblocktrans %}
            </p>
        {% else %}
            <p class="icon icon-cancel">
                {% blocktrans with first_name=obj.first_name %}{{ first_name }} has no verified student status while this is needed.{% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
    <p class="icon neg">{% blocktrans %}{{ obj }} is not a member{% endblocktrans %}</p>
    {% endif %}
    <div class="table-responsive">
        <table class="person_table table">
            <thead>
                <tr>
                    <th>{% trans 'Course year' %}</th>
                    <th>{% trans 'Sort' %}</th>
                    <th>{% trans 'Paid?' %}</th>
                    {% if request.is_board %}<th></th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for membership in obj.membership_set.all %}
                    <tr>
                        <td>
                            {% if membership.is_paid %}
                                <p class="icon paid">
                            {% else %}
                                <p class="icon unpaid">
                            {% endif %}
                            {{ membership.year }} &mdash; {{ membership.year|add:1 }}
                            {% if membership.ended %}
                                <p class="icon icon-cancel">
                                {% blocktrans with ended=membership.ended %}Ended as of {{ ended }}{% endblocktrans %}
                                </p>
                            {% endif %}
                        </td>
                        <td>
                            {{ membership.type.name }}
                        </td>
                        <td>
                            {% if membership.is_free %}
                                <i>{% trans 'n.a.' %}</i>
                                &nbsp;
                                {% if membership.contributiontransaction_set.exists %}
                                    <span class="icon icon-error" title="{% trans 'For some reason this free membership has payments! This should not happen.' %}"></span>
                                    <a title="{% trans 'Inspect payments' %}"
                                       href="{% url 'members:person_membership_payments' obj.id membership.id %}"
                                       class="icon icon-zoom js-load-block" data-container="person_membership">
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if membership.is_paid %}
                                    <span class="icon icon-accept">{% trans 'Paid' %}</span>
                                {% else %}
                                    <span class="icon icon-cross">{% trans 'Not paid yet' %}</span>
                                {% endif %}
                                &nbsp;
                                <a title="{% trans 'Inspect payments' %}"
                                   href="{% url 'members:person_membership_payments' obj.id membership.id %}"
                                   class="icon icon-zoom js-load-block" data-container="person_membership">
                                </a>
                            {% endif %}
                        </td>
                        {% if request.is_board %}
                        <td>
                            <a title="{% trans 'Download PDF form' %}" href="{% url 'members:membership_form' obj.id membership.id %}" class="icon icon-printer"></a>
                            {% if membership.signed_document %}
                                <a title="{% trans 'View signed member form' %}" href="{% url 'members:membership_signed_form' obj.id membership.id %}" class="icon icon-report_magnify"></a>
                            {% endif %}
                            {% if membership.needs_signature %}
                                {% if membership.signed_document or membership.documenso_id %}
                                    <a title="{% trans 'Re-send digital signature request' %}" href="{% url 'members:person_membership_sign' obj.id membership.id %}" class="icon icon-pencil_delete js-load-block" data-container="person_membership"></a>
                                {% else %}
                                    <a title="{% trans 'Send digital signature request' %}" href="{% url 'members:person_membership_sign' obj.id membership.id %}" class="icon icon-pencil_add js-load-block" data-container="person_membership"></a>
                                {% endif %}
                                {% if not membership.signed_document %}
                                    {% if membership.documenso_id %}
                                        <a class="icon icon-page_find" href="{{ membership.documenso_url }}" target="_blank"
                                           title="{% trans 'A signature request for this membership is in progress. Click to open the request in Documenso.' %}"></a>
                                        <a title="{% trans 'Try to retrieve signed file from Documenso' %}" href="{% url 'members:person_membership_retrieve_signed' obj.id membership.id %}" class="icon icon-arrow_down js-load-block" data-container="person_membership"></a>
                                    {% endif %}
                                    {% if membership.is_paper_membership %}
                                        <span class="icon icon-information" title="{% trans 'This membership was created before we introduced digital signatures. Its signed copy may be in the physical folders.' %}"></span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="buttons">
        {% if obj.is_member %}
		<a href="{% url 'members:person_membership_end' obj.id %}" class="looks-like-a-button js-load-block" data-container="person_membership">
            {% trans 'Terminate membership' %}
        </a>
		{% endif %}
        <a href="{% url 'members:person_membership_new' obj.id %}" class="looks-like-a-button js-load-block" data-container="person_membership">
            {% trans 'Add membership' %}
        </a>
    </div>
{% endif %}

