{% load i18n %}
<div class="content">
    <p>
        {% trans 'The following user account(s) have been found that are related to this person.' %}
    </p>
    <table class="table">
        <tr>
            <th>{% trans 'Username' %}</th>
            <th style="max-width: 200px;">{% trans 'Account type' %}</th>
            <th>{% trans 'Linked social accounts' %}</th>
        </tr>
        {% for user in accounts %}
            <tr>
                <td>{{ user.username }}</td>
                <td style="max-width: 200px;">
                    {% if 'LDAP_ENTRY_DN' in user.attributes %}
                        {% trans "Inter-<i>Actief</i> Active Members account" %}<br />
                        <br />
                        {% if user.totp %}
                            {% trans 'TOTP devices:' %}<br />
                            <ul style="margin: 0;">
                            {% for credential in user.credentials %}
                            {% if credential.type == "otp" %}
                                <li>{{ credential.userLabel }}</li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                        {% else %}
                            {% trans 'No TOTP devices' %}<br />
                        {% endif %}

                    {% elif 'created_by' in user.attributes and 'amelie' in user.attributes.created_by %}
                        {% trans "Integration account" %}
                    {% elif 'created_by' in user.attributes and 'ut-saml' in user.attributes.created_by %}
                        {% trans "University of Twente account" %}
                    {% else %}
                        {% trans "Unknown" %}
                    {% endif %}
                </td>
                <td>
                    <table class="table table-condensed">
                        <tr>
                            <th>{% trans 'Provider' %}</th>
                            <th>{% trans 'Username' %}</th>
                        </tr>
                        {% for identity in user.federatedIdentities %}
                            <tr>
                                <td>{{ identity.identityProvider }}</td>
                                <td>{{ identity.userName }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="2">{% trans 'No linked accounts' %}</td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3"><i>{% trans 'No user accounts could be retrieved' %}</i></td>
            </tr>
        {% endfor %}
    </table>
</div>
