{% load i18n %}
<div class="content">
    <h3 class="legend">{% trans 'End mandate' %}</h3>

    <form action="{% url 'members:person_mandate_end' obj.id  mandate.id %}" method="post" class="js-ajax-form" data-container="person_mandate">
        {% csrf_token %}
        {{ form }}

        <div class="buttons">
            <a href="{% url 'members:person_mandate' obj.id%}" class="looks-like-a-button js-load-block" data-container="person_mandate">
                {% trans 'Cancel' %}
            </a>

            <input type="submit" name="end" value="{% trans 'Save' %}" />
        </div>
    </form>
</div>
