{% load i18n %}
<div class="content">
    <h3 class="legend">{% trans 'Add mandate' %}</h3>

    <form action="{% url 'members:person_mandate_new' obj.id %}" method="post" class="js-ajax-form" data-container="person_mandate">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="icon icon-information">{% blocktrans %}BIC is not required for a Dutch IBAN{% endblocktrans %}</p>
        <div class="buttons">
            <a href="{% url 'members:person_mandate' obj.id %}" class="looks-like-a-button js-load-block" data-container="person_mandate">
                {% trans 'Cancel' %}
            </a>

            <input type="submit" name="add" value="{% trans 'Add' %}" />
        </div>
    </form>
</div>
