{% load i18n %}
<div class="content">
    <h3 class="legend">{% trans 'End mandate' %}</h3>

    <form id="endMandateForm" action="{% url 'members:person_mandate_end' obj.id  mandate.id %}" method="post" class="js-ajax-form" data-container="person_mandate">
        {% csrf_token %}
        {{ form }}

        <div class="buttons">
            <a href="{% url 'members:person_mandate' obj.id%}" class="looks-like-a-button js-load-block" data-container="person_mandate">
                {% trans 'Cancel' %}
            </a>

            <input type="submit" name="end" value="{% trans 'Save' %}" />
            <script type="text/javascript">
                // Disable submit button after one click.
                $('#endMandateForm').one('submit', function () {
                    $(this).find('input[type="submit"]').attr('disabled', 'disabled');
                });
            </script>
        </div>
    </form>
</div>
