{% load i18n %}
<div class="content">
    <h3 class="legend">{% trans 'Delete mandate' %}</h3>

    {% if not mandate.signed_document and mandate.documenso_id %}
    <ul class="ia_messages">
        <li class="error">{% blocktrans %}
            Warning: There is a signature request in progress for this mandate!<br/>
            Before you delete the mandate, the pending signature request should be manually canceled in the signing tool so it is never completed.
        {% endblocktrans %}</li>
    </ul>
    {% endif %}

    <form id="deleteMandateForm" action="{% url 'members:person_mandate_delete' obj.id  mandate.id %}" method="post" class="js-ajax-form" data-container="person_mandate">
        {% csrf_token %}
        <input type="hidden" name="delete" value="delete" />

        <p>{% blocktrans with mandate=mandate %}
            Do you wish to delete mandate {{ mandate }}?
        {% endblocktrans %}</p>

        <p>{% blocktrans %}
            Only do this if the mandate has not been signed! Otherwise activate and terminate the mandate instead.
        {% endblocktrans %}</p>

        <div class="buttons">
            <a href="{% url 'members:person_mandate' obj.id %}" class="looks-like-a-button js-load-block" data-container="person_mandate">
                {% trans 'Cancel' %}
            </a>

            <input type="submit" value="{% trans 'Delete' %}" />
            <script type="text/javascript">
                // Disable submit button after one click.
                $('#deleteMandateForm').one('submit', function() {
                    $(this).find('input[type="submit"]').attr('disabled', 'disabled');
                });
            </script>
        </div>
    </form>
</div>
