{% extends "basis.html" %}
{% load i18n form_stylish %}

{% block titel %}
    {% trans 'Pre-enrollment status' %}
{% endblock titel %}

{% block content %}
    {# Success message in case a signature request for a membership was just sent. #}
    {% if enrollment and action == "resend-sure" %}
        <ul class="ia_messages"><li class="success">
            {% blocktrans with name=enrollment.incomplete_name %}
                Signature request for {{ name }}'s membership was sent.
            {% endblocktrans %}
        </li></ul>
    {% endif %}

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ia">
            <h2>{% trans 'Pre-enrollment status' %}</h2>
            <div class="content">
                <p>
                    {% trans 'These are the current pre-enrollments that are not activated yet, per do-group.' %}
                </p>
                <p>
                    {% trans 'If the member has signed their membership and authorization forms, the membership and any authorizations should automatically get activated and it will disappear from this list.' %}<br/>
                    {% trans 'You can (re-)print the forms for that member by clicking the "Print" (<i class="icon icon-printer"></i>) button.' %}
                    {% if request.is_board %}
                        {% trans 'Additionally, as a board member, you can view the state of the signature requests (<i class="icon icon-page_find"></i>), and attempt re-download of the signed forms (<i class="icon icon-arrow_down"></i>) or even re-send them (<i class="icon icon-pencil_delete"></i>) if it failed for whatever reason.' %}
                    {% endif %}
                    {% if delete_enabled %}
                        <br/>{% trans 'Click the "Delete" (<i class="icon icon-delete"></i>) button to delete the pre-enrollment.' %}<br/>
                    {% endif %}
                </p>
                <p>
                    <a href="{% url 'members:person_preregister_freshman' %}" class="looks-like-a-button">
                        {% trans 'Pre-enroll member' %}
                    </a>
                    <a href="{% url 'members:preregistration_print_all' %}" class="looks-like-a-button">
                        {% trans 'Print all membership and authorization forms' %}
                    </a>
                    {% if delete_enabled %}
                        <span class="current">
                            <a href="{% url 'members:preregistration_status' %}" class="looks-like-a-button float-right">
                                {% trans 'Disable deletions' %}
                            </a>
                        </span>
                    {% else %}
                        <span class="edu">
                            <a href="{% url 'members:preregistration_status' %}?deletion=on" class="looks-like-a-button float-right">
                                {% trans 'Enable deletions' %}
                            </a>
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    {% regroup pre_enrollments by dogroup as pre_enrollments_by_dogroup %}

    {% for dogroup in pre_enrollments_by_dogroup %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="ia">
                <h2>{{ dogroup.grouper }} - {% blocktrans with len=dogroup.list|length %}{{ len }} enrollment(s){% endblocktrans %} <a target="_blank" href="{% url 'members:preregistration_print_dogroup' %}?did={{ dogroup.grouper.pk }}"><i class="icon icon-printer pull-right"></i></a></h2>
                <div class="content">
                    <table class="borderless full-width">
                        {% for enrollment in dogroup.list %}
                        <tr>
                            <td style="word-break: break-word">{{ enrollment.incomplete_name }}</td>
                            <td>
                                <div style="display: flex; justify-content: end;">
                                    <a title="{% trans 'Print membership forms (opens in new tab)' %}" target="_blank" href="{% url 'members:preregistration_status' %}?eid={{ enrollment.pk }}&action=print"><i class="icon icon-printer"></i></a>
                                    {% if request.is_board %}
                                        <span>&nbsp;</span>
                                        <a title="{% trans 'Re-send digital signature request' %}" href="{% url 'members:preregistration_status' %}?eid={{ enrollment.pk }}&action=resend" class="icon icon-pencil_delete"></a>
                                        {% if enrollment.documenso_id %}
                                            <span>&nbsp;</span>
                                            <a class="icon icon-page_find" href="{{ enrollment.documenso_url }}" target="_blank"
                                               title="{% trans 'A signature request for this membership is in progress. Click to open the request in Documenso' %}"></a>
                                            <span>&nbsp;</span>
                                            <a title="{% trans 'Try to retrieve signed file from Documenso' %}" href="{% url 'members:preregistration_status' %}?eid={{ enrollment.pk }}&action=retrieve" class="icon icon-arrow_down"></a>
                                        {% endif %}
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <span>&nbsp;</span>
                                        <a title="{% trans 'Manually activate. Should not be necessary and will not include any digital signature files' %}" href="{% url 'members:preregistration_status' %}?eid={{ enrollment.pk }}&action=accept"><i class="icon icon-accept"></i></a>
                                    {% endif %}
                                </div>
                                {% if delete_enabled %}</td><td class="align-right" style="margin-left: 1em;"><a title="{% trans 'Delete this pre-enrollment' %}" href="{% url 'members:preregistration_status' %}?eid={{ enrollment.pk }}&action=delete"><i class="icon icon-delete"></i></a>{% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td class="align-right" colspan="{% if delete_enabled %}3{% else %}2{% endif %}"><i>{% trans 'No members' %}</i></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ia">
                <h2>{% trans 'No pre-enrollments' %}</h2>
                <div class="content">
                    <p>
                        {% trans 'There are currently no pre-enrollments.' %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
