{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans 'Pre-enrollment' %} - {% trans 'Document retrieved successfully' %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans 'Document retrieved successfully' %}</h2>
        <div class="content">

            <p>
                {% blocktrans with name=enrollment.incomplete_name %}
                    The signed documents for {{ name }} were successfully retrieved.
                    The membership and authorizations have been automatically activated as well.
                {% endblocktrans %}
            </p>
            <div class="buttons">
                <a class="looks-like-a-button" href="{% url 'members:preregistration_status' %}">{% trans 'Return to overview' %}</a>
            </div>
        </div>
    </div></div>
{% endblock content %}
