{% extends 'basis.html' %}
{% load i18n provider_name %}

{% block titel %}
    {% trans 'Log in' %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="ia">
            <h2>{% trans 'Login on the Inter-<em>Actief</em> website' %}</h2>
            <div class="content">
                {% blocktrans %}
                    You are here because yo do not have a way to log in to the Inter-<i>Actief</i> website (anymore).
                    While you have been logged in now, it is wise to add an alternative login method below:
                {% endblocktrans %}

                <ul>
                    {% for backend in backends.backends %}
                        <li>
                            <a href="{% url 'social_auth:begin' backend %}">
                                {% blocktrans with backend|provider_name as backend%}
                                    Login using {{ backend }}
                                {% endblocktrans %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
