<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<!--
This Internal Server Error does not use any static files or template tags
because the error could be in (the configuration of) one of them.
This would create a chain of Internal Server Error with unexpected and
hard to debug results.
-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Internal Server Error</title>
    </head>
    <body style="background: #2B3D7F; font-size: 13px; font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;">
        <div style="width: 800px; margin: 50px auto 0px; padding: 5px 10px; color: white;">
            <p style="font-size: 200%; font-weight: bold; margin: 0">I.C.T.S.V. Inter-<i>Actief</i></p>
        </div>
        <div style="width: 800px; margin: 0px auto 10px; padding: 5px 10px; background: white; color: black;">
            <h1>Internal Server Error</h1>

            <p>
                Er is een fout opgetreden in de site. Hierdoor kunnen we de pagina die je probeert te bereiken niet tonen.
            </p>

            <p>
                We hebben hiervan een mailtje gehad en we gaan er mee aan de slag.
            </p>

            <p>
                <a style="color: #2B3D7F" href="/">Home</a> |
                <a style="color: #2B3D7F" href="javascript:window.history.back()">Vorige pagina</a>
            </p>

            <hr />

            <p lang="en">
                An internal error occurred on the site. Therefore we cannot show the page you requested.
            </p>

            <p lang="en">
                We did receive a mail regarding this and are going to solve it.
            </p>

            <p lang="en">
                <a style="color: #2B3D7F" href="/">Home</a> |
                <a style="color: #2B3D7F" href="javascript:window.history.back()">Go back</a>
            </p>
        </div>
        <div style="width: 800px; margin: 10px auto; padding: 5px 10px; color: white; line-height: 1.4em; font-size: 11px; ">
            <p>
                I.C.T.S.V. Inter-<i>Actief</i><br />
                Postbus 217<br />
                7500 AE Enschede<br />
                053 - 489 3756<br />
                <a style="color: white;" href="mailto:contact@inter-actief.net">contact@inter-actief.net</a><br />
                <a style="color: white;" href="https://www.inter-actief.net/">https://www.inter-actief.net/</a>
            </p>
            <p>
                I.C.T.S.V. Inter-<i>Actief</i> is de studievereniging voor de bachelor- en masteropleidingen van
                Technische Informatica en Business Information Technology aan de Universiteit Twente.
            </p>
        </div>
    </body>
</html>
