{% load i18n %}
<div class="col-xs-12">
    <ul class="ia_messages afo">
        <li class="info dismissable">
            <a class="action_button" data-dismiss>{% trans 'close' %}</a>

            <h4>🚀 Introducing Inter-<i>AI</i> Pages – Tailored Just for You! 🚀</h4>

            <p>Say goodbye to one-size-fits-all websites! Our cutting-edge <b>Inter-<i>AI</i> Personalization Feature</b> takes your preferences, interests, and browsing behavior to instantly create a <b>fully customized experience</b>—just for you. Whether you’re looking for the perfect product, content you’ll love, or solutions that fit your unique needs, our Inter-<i>AI</i> adapts in real-time to deliver exactly what you want, when you want it.</p>

            <p>
                <b>
                    ✨ No more searching. Just finding.<br/>
                    ✨ Smarter browsing. Effortless results.<br/>
                    ✨ Your own personalized page—every visit.
                </b>
            </p>

            <p>Experience the future of web interaction today—<b>powered by Inter-<i>AI</i>, inspired by you.</b></p>

            <p><i>This feature is currently in beta. If you prefer to browse without personalization, you can disable it <a href="https://arstechnica.com/gadgets/2024/05/google-searchs-udm14-trick-lets-you-kill-ai-search-for-good/" target="_blank">in the usual manner.</a></i></p>        </li>
    </ul>

    <form style="display: flex; justify-content: center; gap: 15px">
        <input style="width: 100%" type="text" class="looks-like-input" placeholder="Message Inter-AI" id="inter-ai-question">
        <a class="looks-like-a-button" style="background-color: #0b2a40; margin: 0" href="#" onclick="askAI(event)">Submit</a>
    </form>
</div>

<script>
    /**
     * Query Inter-AI!
     *
     * @param {Event} event
     */
    function askAI(event) {
        event.preventDefault();

        /** @type HTMLInputElement */
        const questionInput = document.getElementById("inter-ai-question")
        const question = questionInput.value

        window.open(`https://www.bing.com/search?showconv=1&sendquery=1&q=${question}`, '_blank').focus();
    }
</script>
