<HTML>

{% load i18n banners active_menu compress cached_static provider_name %}

<HEAD><meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<meta name="description" content="{% trans 'Website of I.C.T.S.V. Inter-Actief, the study association for Technical Computer Science and Business Information Technology students at the University of Twente' %}">
<meta name="keywords" content="{% trans 'inter-actief, utwente, university of twente, computer science, technical computer science, study association, Business Information Technology' %}">
<TITLE>Study Association Inter-Actief</TITLE>

<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">
var browserOK=false;
</SCRIPT>

<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript1.2">
var browserOK=true;

var currentpic = 10;
var myimages;
var npics = 19;
var gotopic = 10;
myimages= new Array();
myimages[npics] = new Array(npics);
for (x=1;x<=npics;x++) {  
	myimages[x-1] = new Image();
	myimages[x-1].src = "{{STATIC_URL}}img/aprilfools/logop" + x + ".gif";
}

function jumper(gp) { 
	gotopic = gp;
}

function follower() { 
	if (gotopic > currentpic) {   
		currentpic = currentpic+1;   		document.myImage.src=myimages[currentpic].src; 
	} 
if (gotopic < currentpic) {   currentpic = currentpic-1;   document.myImage.src=myimages[currentpic].src; 
} 
setTimeout("follower()",100);
}
</SCRIPT>

<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">
function jumperb(gpb) {  
	if (browserOK) { jumper(gpb); }
}

function followerb() {
  if (browserOK) {
	follower(); 
  }
}	
</SCRIPT>

</HEAD>
<BODY bgcolor="#FFFFFF" onLoad="followerb()">
<MAP name="map1">
<AREA href="{% url 'activities:activities' %}" 
	alt="Calendar" shape="rect" coords="0,0,173,100"	     	onMouseOver="jumperb(3)">    
<AREA href="{% url 'companies:company_overview' %}" 	     alt="Sponsors" 	     	shape="rect" 	     coords="0,174,193,255"	     onMouseOver="jumperb(11)">
<AREA href="{% url 'about:page' 2 'board' %}" 	     alt="Board" 	     shape="rect" 	     	coords="0,256,193,399"	     onMouseOver="jumperb(16)"> 
</MAP>
<MAP name="map2">
<AREA href="{% url 'members:committees' %}"       alt="Committees"      shape="rect"      		coords="0,0,194,120" onMouseOver="jumperb(16)">
<Area href="{% url 'education:overview' %}"       alt="Links"      shape="rect"      	coords="0,121,194,244"      onMouseOver="jumperb(9)">
<area href="{% url 'about:page' 1 'about-the-association-inter-actief' %}"  alt="Information"      shape="rect"      coords="0,248,194,399"      	onMouseOver="jumperb(2)">
</Map>

<TABLE CELLSPACING="0" width="100%" height=90% cellpadding="0" border=0>
  <tr colspan="5" height="100%">
    <td colspan="5"></td>
  </tr>
  <tr>
    <td ROWSPAN="3" width="50%"></td>
    <td ROWSPAN="3" width="194" height="400">
	<IMG SRC="{{STATIC_URL}}img/aprilfools/left.gif"  alt="" usemap="#map1" border=0 width=194 height=400>
    </td>
    <TD width="251">
          <a href="{% url 'frontpage_normal' %}"><IMG SRC="{{STATIC_URL}}img/aprilfools/to-old-page.png" width=251 height=96 border=0 alt=""></a>
    </td>
    <TD width="98" height="400" ROWSPAN=3><IMG SRC="{{STATIC_URL}}img/aprilfools/right.gif"  alt="" usemap="#map2" width=195 height=400 border=0></td>
    <td rowspan="3" width="50%"></td>
  </tr>
  <TR>
	<TD width="251"><a href="{% url 'frontpage_normal' %}" title="Go to old homepage"><IMG SRC="{{STATIC_URL}}img/aprilfools/logo0g.gif"  name="myImage" alt="IA-logo" width=251 height=207></a></td>
 </tr>
  <TR>
	<TD width="251"><IMG SRC="{{STATIC_URL}}img/aprilfools/bottom-ia.gif"  alt="Inter-Actief" width=251 height=97 border=0>
	</td>
  </tr>
</TABLE>
</BODY>
</HTML>
