{% extends "basis.html" %}
{% load i18n provider_name %}

{% block titel %}{% trans 'Log in' %}{% endblock titel %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#id_username').focus();
        });
    </script>
{% endblock head %}

{% block content %}
    <div id="login" class="col-xs-12">
        <div class="ia">
            <h2>{% trans 'Login on the Inter-<em>Actief</em> website' %}.</h2>

            <div class="content">
                {% if request.person %}
                    <p class="icon neg">
                        {% trans 'You do not have acces to the page you are visiting.' %}
                    </p>
                {% endif %}

                {{ form.errors.non_field_errors }}

                <p>
                    {% trans 'You can log in with your <abbr title="This is your student account. E.g. s0123456.">UTwente account</abbr> or with your <abbr title="You get an Inter-Actief account if you become an active member at Inter-Actief. E.g. bouwerb.">Inter-<em>Actief</em> account</abbr>.' %}
                </p>
                <p>
                    {% trans 'If you do not have either of these accounts, you can link an external account, like your Google, GitHub, or Facebook account, by contacting the board.' %}
                </p>

                <p><a class="looks-like-a-button" href="{% url 'oidc_authentication_init' %}?next={% if redirect_to %}{{ redirect_to|urlencode }}{% else %}{{ request.path|urlencode }}{% endif %}"><i class="icon icon-building"></i> <b>{% trans 'Log in with Inter-Actief' %}</b></a></p>

                <h3>{% trans '- or -' %}</h3>

                <form class="big" method="post" action="">
                    <p>{% trans 'Log in with legacy account:' %}</p>

                    <div id="login_elements">
                        {% csrf_token %}
                        {{ form }}

                        <div class="buttons">
                            <input type="submit" value="{% trans 'Log in' %}"/>
                        </div>

                        <p><a href="{% url "account:password_reset" %}">{% trans 'Forgot password?' %}</a></p>
                    </div>

                    <input type="hidden" name="next" value="{{ redirect_to }}"/>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}
