{% extends "basis.html" %}
{% load i18n fieldsets %}

{% block titel %}
    {% trans 'Change profile picture' %}
{% endblock titel %}

{% block content %}
    <form action="" method="post" class="big" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-xs-12">
            <div class="ia">
                <h2>{% trans 'Profile picture' %}</h2>

                <div class="content">
                    <p>
                        {% blocktrans %}
                            You can upload a new profile picture here. New pictures need to be accepted by the board before they are used.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Please check that the picture is acceptable before uploading. A good picture should at least show your face clearly.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Note that pictures may be used for multiple purposes, please see our privacy policy for more information on where profile pictures can be used.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {{ form }}
                        <input type="submit" value="{% trans 'Upload' %}" />
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
