{% extends "basis.html" %}
{% load i18n fieldsets %}

{% block titel %}
    {% trans 'Change profile picture' %}
{% endblock titel %}

{% block content %}
    <form action="" method="post" class="big" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-xs-12"><div class="ia">
            <h2>{% trans 'Profile picture' %}</h2>

            <div class="content">
                <p>
                    {{ form }}
                    <input type="submit" value="{% trans 'Upload' %}" />
                </p>
            </div>
        </div></div>
    </form>
{% endblock content %}