{% load i18n form_stylish %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="ia">
        <h2>{% trans 'What are you studying?' %}</h2>
        <div class="content">

            <!-- Study/Studies -->
            <div class="form-group">
                {{ wizard.form.study.errors }}
                <label for="{{ wizard.form.study.auto_id }}" class="col-sm-3 col-md-2 control-label">{% trans 'Study/studies' %} <span class="form-required">*</span></label>
                <div class="col-sm-9 col-md-10">
                    <div class="form-inline">
                        <select id="{{ wizard.form.study.auto_id }}" class="chosen-select"
                                name="{{ wizard.steps.step0 }}-{{ wizard.form.study.name }}" multiple="multiple" required=""
                                data-placeholder="{% trans 'Choose one (or more) study/studies...' %}">
                            {% for option in wizard.form.study.field.choices %}
                                <option value="{{ option.0 }}" {% if option.0|stringformat:'d' in wizard.form.study.value %}selected="selected"{% endif %}>{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small class="form-text text-muted">{% trans 'Which study/studies you will follow.' %}</small>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            jQuery("#{{ wizard.form.study.auto_id }}").chosen();
                        });
                    </script>
                </div>
            </div>
            <div class="small-form-spacer"></div>

            <!-- Student number -->
            <div class="form-group">
                {{ wizard.form.student_number.errors }}
                <label class="col-sm-3 col-md-2 control-label">{% trans 'Student number' %} <span class="form-required">*</span></label>
                <div class="col-sm-9 col-md-10">
                    <div class="form-inline">
                        {{ wizard.form.student_number|form_bootstrapify:"noplaceholder" }}
                    </div>
                    <small class="form-text text-muted">{% trans 'Your student number, without the "s" (e.g. <b>0123456</b>").' %}</small>
                </div>
            </div>
            <div class="small-form-spacer"></div>

            <!-- Do-group -->
            <p>{% blocktrans %}If you are a first-year Bachelor student, you might be participating / have participated in the Kick-In (the introduction period of the University). If you did, please fill in the do group which you were a part of. If you did not participate in the Kick-In, you can leave this field blank.{% endblocktrans %}</p>
            <div class="form-group">
                {{ wizard.form.dogroup.errors }}
                <label class="col-sm-3 col-md-2 control-label">{% trans 'Dogroup' %}</label>
                <div class="col-sm-9 col-md-10">
                    <div class="form-inline">
                        {{ wizard.form.dogroup|form_bootstrapify }}
                    </div>
                    <small class="form-text text-muted">{% trans 'Which do-group you are currently in.' %}</small>
                </div>
            </div>

            {% include 'includes/registration/wizard_buttons.html' %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
