{% extends "basis.html" %}
{% load i18n %}

{% block titel %}Mailtemplatetest{% endblock titel %}

{% block content %}
<div class="col-xs-12"><div class="ia">
    <h2>
        <span>
            Mailtemplatetest
        </span>
    </h2>

    <div class="content">
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'View example' %}" />
        </form>
    </div>
</div></div>

{% if content %}
    <div class="col-xs-12"><div class="ia">
        <h2>{{ subject }}</h2>
        <div class="content">
            <p class="previewer">
                {{ content|force_escape|linebreaksbr }}
            </p>
        </div>
    </div></div>
{% endif %}
{% endblock content %}
