{% load i18n %}
<tr>
    <th>{% trans 'Date' %}</th>
    <td>{{ object.date }}</td>
</tr>
<tr>
    <th>{% trans 'Description' %}</th>
    <td>{{ object.description }}</td>
</tr>
<tr>
    <th>{% trans 'Price' %}</th>
    <td class="align-right">&euro;&nbsp;{{ object.price }}</td>
</tr>
<tr>
    <th>{% trans 'Settled in' %}</th>
    <td>
        {% include 'info/transaction_settlement_info.html' with settlement=object.settlement %}
    </td>
</tr>
{% if object.discount %}
    <tr>
        <th>{% trans 'Discount offer' %}</th>
        <td>{{ object.discount.discount_period }}</td>
    </tr>
    <tr>
        <th>{% trans 'Discount amount' %}</th>
        <td class="align-right">{{ object.discount.amount }}</td>
    </tr>
{% endif %}
{% if request.is_board %}
    <tr>
        <th>{% trans 'Person' %}</th>
        <td>
            {% if object.person %}
                <a href="{{ object.person.get_absolute_url }}">
                    {{ object.person }}
                </a>
                &nbsp;
                <a title="{% blocktrans with name=object.person.first_name %}Go to {{ name }}'s personal tab{% endblocktrans %}"
                   href="{% url 'personal_tab:dashboard' object.person.pk object.person.slug  %}">
                    <span class="icon personal_tab"></span>
                </a>
            {% else %}
                &mdash;
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Added on' %}</th>
        <td>{{ object.added_on }}</td>
    </tr>
    <tr>
        <th>{% trans 'Added by' %}</th>
        <td>{{ object.added_by|default:"&mdash;" }}</td>
    </tr>
{% endif %}
