{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans "Change Inter-Actief active members account's password" %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans "Reset Inter-<i>Actief</i> active members account's password" %}</h2>
        <div class="content">
            <p>
                {% trans "Please fill in your active members account name and we'll send you an e-mail to reset your password." %}
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send password reset e-mail" />
            </form>
        </div>
    </div></div>
{% endblock content %}
