{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans "Change Inter-Actief active members account's password" %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans "Reset e-mail sent" %}</h2>
        <div class="content">
            <p>
                {% trans 'Check the email address you have registered at Inter-<i>Actief</i> for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.' %}
            </p>
            <a class="looks-like-a-button" href="{% url "oidc_authentication_init" %}">{% trans 'Return to login' %}</a>
        </div>
    </div></div>
{% endblock content %}
