{% extends "basis.html" %}
{% load i18n claudia_tags %}

{% block titel %}{% trans "Change Inter-Actief active members account's password" %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans "Change Inter-<i>Actief</i> active members account's password" %}</h2>
        <div class="content">
            <p>{% trans 'You can change the password for your Inter-<i>Actief</i> active members account through the form below.' %}</p>
            <p>{% trans 'Your new password must differ from your current one and consist of at least 8 characters.' %}</p>
            {% if error %}
            <ul class="errorlist">
                <li>{{ error }}</li>
            </ul>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <table>
                {{ form }}
                </table>
                <p><input type="submit" value="{% trans 'Change password' %}" /></p>
            </form>
        </div>
    </div></div>
{% endblock content %}
