{% extends "basis.html" %}
{% load i18n %}

{% block titel %}{% trans "Change Inter-Actief active members account's password" %}{% endblock titel %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="ia">
        <h2>{% trans "Change Inter-<i>Actief</i> active members account's password" %}</h2>
        <div class="content">
            <p>
                {% trans 'The password to your Inter-<i>Actief</i> active members account has been changed.' %}
            </p>
        </div>
    </div></div>
{% endblock content %}
