{% load i18n %}

<div>
	<!-- Title -->
	<h3>
		{{ form.enrollmentoption.title }}

		{% if form.enrollmentoption.required %}
			({% trans 'required' %})
		{% endif %}
	</h3>

	<!-- Errors -->
	{% if form.non_field_errors %}
		<span>
			{{ form.non_field_errors }}
		</span>
	{% endif %}
    {% if form.answer.errors %}
        <p>{{ form.answer.errors }}</p>
    {% endif %}

	<!-- Field -->
	<span>
		{{ form.answer }}
	</span>

	<!-- Rest -->
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
</div>
