.ia h2,
.current h2,
.edu h2,
#top,
#slider-list li.active {
  background-color: #E6B800 !important;
}

.ia a,
.current a,
.edu a {
  color: #E6B800;
}

.ia input[type="button"],
.ia input[type="submit"],
.ia button,
.ia a.looks-like-a-button,
.current input[type="button"],
.current input[type="submit"],
.current button,
.current a.looks-like-a-button,
.edu input[type="button"],
.edu input[type="submit"],
.edu button,
.edu a.looks-like-a-button {
  background-color: #321F20;
  color: #ffffff;
}

#nav,
#nav > li ul,
#bottom {
  background-color: #231F20;
}

#nav li a {
  color: #ffffff;
}