.ia h2,
.current h2,
.edu h2,
#top,
#slider-list li.active {
  background-color: #E6B800 !important;
}

.ia a,
.current a,
.edu a {
  color: #E6B800;
}

.ia input[type="button"],
.ia input[type="submit"],
.ia button,
.ia a.looks-like-a-button,
.current input[type="button"],
.current input[type="submit"],
.current button,
.current a.looks-like-a-button,
.edu input[type="button"],
.edu input[type="submit"],
.edu button,
.edu a.looks-like-a-button {
  background-color: #321F20;
  color: #ffffff;
}

/* Restore specific button colors */
a.looks-like-a-button.success-button {
    background: #077821 !important;
}
a.looks-like-a-button.danger-button {
    background: #B8231F !important;
}
a.looks-like-a-button.disabled-button {
    background: #808080 !important;
}
.ia input[type="button"].success-button, .ia input[type="submit"].success-button, .ia button.success-button, .ia a.looks-like-a-button.success-button,
.edu a.looks-like-a-button.success-button, .edu input[type="submit"].success-button, .edu input[type="button"].success-button, .edu button.success-button,
.current a.looks-like-a-button.success-button, .current input[type="submit"].success-button, .current input[type="button"].success-button, .current button.success-button,
.ia a.looks-like-a-button.success-button, .ia input.looks-like-a-button.success-button, #slider-carousel-title a.looks-like-a-button.success-button, .current a.looks-like-a-button.success-button {
    background: #077821 !important;
}
.ia input[type="button"].danger-button, .ia input[type="submit"].danger-button, .ia button.danger-button, .ia a.looks-like-a-button.danger-button,
.edu a.looks-like-a-button.danger-button, .edu input[type="submit"].danger-button, .edu input[type="button"].danger-button, .edu button.danger-button,
.current a.looks-like-a-button.danger-button, .current input[type="submit"].danger-button, .current input[type="button"].danger-button, .current button.danger-button,
.ia a.looks-like-a-button.danger-button, .ia input.looks-like-a-button.danger-button, #slider-carousel-title a.looks-like-a-button.danger-button, .current a.looks-like-a-button.danger-button {
    background: #B8231F !important;
}
.ia input[type="button"].disabled-button, .ia input[type="submit"].disabled-button, .ia button.disabled-button, .ia a.looks-like-a-button.disabled-button,
.edu a.looks-like-a-button.disabled-button, .edu input[type="submit"].disabled-button, .edu input[type="button"].disabled-button, .edu button.disabled-button,
.current a.looks-like-a-button.disabled-button, .current input[type="submit"].disabled-button, .current input[type="button"].disabled-button, .current button.disabled-button,
.ia a.looks-like-a-button.disabled-button, .ia input.looks-like-a-button.disabled-button, #slider-carousel-title a.looks-like-a-button.disabled-button, .current a.looks-like-a-button.disabled-button {
    background: #808080 !important;
}

#nav,
#nav > li ul,
#bottom {
  background-color: #231F20;
}

#nav li a {
  color: #ffffff;
}
