.afo.ia_messages li.info {
  background-color: #9cb2de !important;
}

.inter-ai-loader {
    text-align: center;
    padding: 15px;
}
.ai-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    display: block;
    margin: auto;
}
.ai-loader::before , .ai-loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #9cb2de;
    animation: prixClipFix 2s linear infinite ;
  }
.ai-loader::after{
    border-color: #1d428a;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
0%   {transform: rotate(0deg)}
100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* Restore specific button colors */
a.looks-like-a-button.success-button {
    background: #077821 !important;
}
a.looks-like-a-button.danger-button {
    background: #B8231F !important;
}
a.looks-like-a-button.disabled-button {
    background: #808080 !important;
}
.ia input[type="button"].success-button, .ia input[type="submit"].success-button, .ia button.success-button, .ia a.looks-like-a-button.success-button,
.edu a.looks-like-a-button.success-button, .edu input[type="submit"].success-button, .edu input[type="button"].success-button, .edu button.success-button,
.current a.looks-like-a-button.success-button, .current input[type="submit"].success-button, .current input[type="button"].success-button, .current button.success-button,
.ia a.looks-like-a-button.success-button, .ia input.looks-like-a-button.success-button, #slider-carousel-title a.looks-like-a-button.success-button, .current a.looks-like-a-button.success-button {
    background: #077821 !important;
}
.ia input[type="button"].danger-button, .ia input[type="submit"].danger-button, .ia button.danger-button, .ia a.looks-like-a-button.danger-button,
.edu a.looks-like-a-button.danger-button, .edu input[type="submit"].danger-button, .edu input[type="button"].danger-button, .edu button.danger-button,
.current a.looks-like-a-button.danger-button, .current input[type="submit"].danger-button, .current input[type="button"].danger-button, .current button.danger-button,
.ia a.looks-like-a-button.danger-button, .ia input.looks-like-a-button.danger-button, #slider-carousel-title a.looks-like-a-button.danger-button, .current a.looks-like-a-button.danger-button {
    background: #B8231F !important;
}
.ia input[type="button"].disabled-button, .ia input[type="submit"].disabled-button, .ia button.disabled-button, .ia a.looks-like-a-button.disabled-button,
.edu a.looks-like-a-button.disabled-button, .edu input[type="submit"].disabled-button, .edu input[type="button"].disabled-button, .edu button.disabled-button,
.current a.looks-like-a-button.disabled-button, .current input[type="submit"].disabled-button, .current input[type="button"].disabled-button, .current button.disabled-button,
.ia a.looks-like-a-button.disabled-button, .ia input.looks-like-a-button.disabled-button, #slider-carousel-title a.looks-like-a-button.disabled-button, .current a.looks-like-a-button.disabled-button {
    background: #808080 !important;
}

#nav,
#nav > li ul,
#bottom {
  background-color: #231F20;
}

#nav li a {
  color: #ffffff;
}
